body {
   display: flex;
   height: 100vh;
   justify-content: center;
   justify-content: center;
   align-items: center;
   color: white;
}

.container {
    width: 600px;
    border: 1px solid red;
}

.pelota {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}