body {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   color: white;
}

.container {
    width: 100%;
    border: 1px solid red;
}

.container:hover .cuadrado {
    animation-play-state: paused;
}

.cuadrado {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #7dc900;
    margin: 20px;
    /*transition: 1s;*/
    animation-name: cuadrado;
    animation-duration: 5s;
    /*animation-delay: 1s;*/
    /*animation-iteration-count: 3;*/
    animation-iteration-count: infinite;
    animation-timing-function: ease;   
    animation-direction: alternate;
    /*animation-fill-mode: forwards;
    animation-play-state: paused;*/
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

@keyframes cuadrado {
    0% {
        /*opacity: 1;*/
        left: -20px;
    }
    100% {
        /*opacity: 0;*/
        left: calc(100% - 220px);
    }
}