body {
   /* display: flex; */
   /* height: 200vh; */
   /* justify-content: center; */
   /* align-items: center; */
   /* color: white; */
   margin: 0;
   /* background-image: url(platzi.png); */
   /* background-size: 100%; */
}

.container {
    position: relative;
    height: 500px;
    background-color: #0f9bf6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    font-family: Arial;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, .8);
}
.waves {
    position: absolute;
    bottom: -135px;
    height: 527px;
    width: 100%;
    overflow: hidden;
    /* right: 0;
    left: 0;
    bottom: 0;
    height: 200px ; */
}
.wave {
    position: absolute;
    left: -180px;
    bottom: 0;
    width: 2402px;
    height: 427px;
    background: url(waves.png) center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
}

.wave.a {
    background-position: 0 -854px;
    animation-delay: .8s;
}

.wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
}

.wave.b {
    background-position: 0 0;
    animation-delay: 1.2s;
}

@keyframes wave {
    0% { 
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translate(-80px, 30px);
    }
    100% {
        transform: translateX(160px) translateY(-60px);
    }
}